body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.backgound {
    background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
}

#hrow {
    margin-top: 4px;
    border-radius: 8px;
}


/* #password {
    border: 2px solid hsl(120, 100%, 50%);
} */